## Table of Content
 **[Mid-term Project:Supervised Machine Learning](#Mid-term-Project-:-Supervised-Machine-Learning)**
 
 
 <p>The focus of the task is to build predictive models which can identify which employees are at a higer risk of leaving the company. This could help in taking some proactive measures to retain valuable employees. This dataset is collected for a Human resource application and the source is from Kaggle: https://www.kaggle.com/datasets/whenamancodes/hr-employee-attrition  
    
    Attrition: Represents the measure of employee leave a company voluntorily or involuntorily. HR uses the figure to track and understand how things are going at a company
</p>

<p>The code outline with hyperlinks are as below:
</p>
 
* ***[Part 1: Load Code Libraries](#Part-1:-Load-Code-Libraries)***
* ***[Part 2: Load Dataset](#Part-2:-Load-Dataset)***
* ***[Part 3: Prepare Data](#Part-2:-Prepare-Data)***
* ***[Part 4: Validation Framework](#Part-4:-Validation-Framework)***
* ***[Part 5: Exploratory Data Analysis](#Part-5:-Exploratory-Data-Analysis)***
* ***[Part 6: Visualize Dataset](#Part-6:-Visualize-Dataset)***
* ***[Part 7: Training the Models](#Part-7:-Training-the-Models)***
* ***[Part 8: Model Evaluation and Tuning](#Part-8:-Model-Evaluation-Tunning)***
* ***[Part 8: Model Assessment](#Part-7:-Model-Assessment:-KMeans)***
* ***[Part 9: Model Evaluation](#Part-8:-Model-Evaluation)***
* ***[Part 10: Save Model](#Part-8:-Save-Model)***

## Part 1: Load Code Libraries

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

/home/manny/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Part 2: Load Dataset

<p>      </p>

In [2]:
PATH = r'C:\Users\Acer\Downloads\archive (2)\HR EmployeeAttrition.csv'

#PATH = r'D:\mlzoomcamp\midterm-project\hr\HREmployeeAttrition.csv'


df = pd.read_csv('HREmployeeAttrition.csv')
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

## Part 2: Load Dataset Summary
<p>      </p>

## Part 3: Prepare Data

<p>      </p>

* Check for missing values
* Check for Duplicates, and 
* Check for outliers in the dataset. 
* Finally, address any data quality issues.

In [3]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
Age,41,49,37,33,27,32,59,30,38,36,...,29,50,39,31,26,36,39,27,49,34
Attrition,Yes,No,Yes,No,No,No,No,No,No,No,...,No,Yes,No,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely,...,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591,1005,1324,1358,216,1299,...,468,410,722,325,1167,884,613,155,1023,628
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,1,8,2,3,2,2,3,24,23,27,...,28,28,24,5,5,23,6,4,2,8
Education,2,1,2,4,1,2,3,1,3,3,...,4,3,1,3,3,2,1,3,3,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EmployeeCount,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
EmployeeNumber,1,2,4,5,7,8,10,11,12,13,...,2054,2055,2056,2057,2060,2061,2062,2064,2065,2068
EnvironmentSatisfaction,2,3,4,4,1,4,3,4,4,3,...,4,4,2,2,4,3,4,2,4,2
Gender,Female,Male,Male,Female,Male,Male,Female,Male,Male,Male,...,Female,Male,Female,Male,Female,Male,Male,Male,Male,Male
HourlyRate,94,61,92,56,40,79,81,67,44,94,...,73,39,60,74,30,41,42,87,63,82
JobInvolvement,3,2,2,3,3,3,4,3,2,3,...,2,2,2,3,2,4,2,4,2,4
JobLevel,2,2,1,1,1,1,1,1,3,2,...,1,3,4,2,1,2,3,2,2,2
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Laboratory Technician,Laboratory Technician,Manufacturing Director,Healthcare Representative,...,Research Scientist,Sales Executive,Sales Executive,Manufacturing Director,Sales Representative,Laboratory Technician,Healthcare Representative,Manufacturing Director,Sales Executive,Laboratory Technician
JobSatisfaction,4,2,3,3,2,4,1,3,3,3,...,1,1,4,1,3,4,1,2,2,3
MaritalStatus,Single,Married,Single,Married,Married,Single,Married,Divorced,Single,Married,...,Single,Divorced,Married,Single,Single,Married,Married,Married,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468,3068,2670,2693,9526,5237,...,3785,10854,12031,9936,2966,2571,9991,6142,5390,4404
MonthlyRate,19479,24907,2396,23159,16632,11864,9964,13335,8787,16577,...,8489,16586,8828,3787,21378,12290,21457,5174,13243,10228
NumCompaniesWorked,8,1,6,1,9,0,4,1,0,6,...,1,4,0,0,0,4,4,1,2,2
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No,No,Yes,No,No,No,...,No,Yes,No,No,No,No,No,Yes,No,No
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,...,14,13,11,19,18,17,15,20,14,12
PerformanceRating,3,4,3,3,3,3,4,4,4,3,...,3,3,3,3,3,3,3,4,3,3
RelationshipSatisfaction,1,4,2,3,4,3,1,2,2,2,...,2,2,1,2,4,3,1,2,4,1
StandardHours,80,80,80,80,80,80,80,80,80,80,...,80,80,80,80,80,80,80,80,80,80
StockOptionLevel,0,1,0,0,1,0,3,1,0,2,...,0,1,1,0,0,1,1,1,0,0
TotalWorkingYears,8,10,7,8,6,8,12,1,10,17,...,5,20,21,10,5,17,9,6,17,6
TrainingTimesLastYear,0,3,3,3,3,2,3,2,2,3,...,3,3,2,2,2,3,5,0,3,3
WorkLifeBalance,1,3,3,3,3,2,2,3,3,2,...,1,3,2,3,3,3,3,3,2,4
YearsAtCompany,6,10,0,8,2,7,1,1,9,7,...,5,3,20,9,4,5,7,6,9,4
YearsInCurrentRole,4,7,0,7,2,7,0,0,7,7,...,4,2,9,4,2,2,7,2,6,3
YearsSinceLastPromotion,0,1,0,3,2,3,0,0,1,7,...,0,2,9,1,0,0,1,0,0,1
YearsWithCurrManager,5,7,0,0,2,6,0,0,8,7,...,4,0,6,7,0,3,7,3,8,2

In [ ]:
df.columns # Examining all the columns

In [ ]:
df.dtypes

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [ ]:
df.nunique()

In [ ]:
# Drop all constant attributes that will not make difference to our model discription
df.drop(['employeecount', 'over18','standardhours' ],axis=1,inplace=True)

In [ ]:
df.columns

In [ ]:
categorical_columns

In [ ]:
df.head().T # Dataset exhibit some standardisation - Changed all columns and categorical values into lowercase, 
            # and collected all categorical attributes in an holder variable.

In [ ]:
df.attrition = (df.attrition == 'yes').astype(int)
df

In [ ]:
df.describe() # Descriptive Statistics: Calculate summary statistics for numeric variables such as age, distance, fromhome, and others. 
              # This gives an overview of the dataset.

In [ ]:
sns.histplot(data=df,x='age',hue='attrition',kde=True)
plt.title(label='Age distibution')
plt.show();

## Part 3: Summary: Prepare Data 

<p>      </p>

* Minimum start Age is 18
* Retirement Age is 60
* Plot of 2 graphs campared indicates an imbalanced Class data as it seems proportion of employees leaving is low compared to those that stay perphaps until retirement age.

## Part 4: Validation Framework
* Perform the train/validation/test split with Scikit-Learn

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [ ]:
len(df_train), len(df_val), len(df_test)

In [ ]:
 df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [ ]:
y_train = df_train.attrition.values
y_val = df_val.attrition.values
y_test = df_test.attrition.values

In [ ]:
del df_train['attrition']
del df_val['attrition']
del df_test['attrition']

## Part 4: Summary: Validation Framework 

<p>      </p>

*

## Part 5: Exploratory Data Analysis

<p>      </p>

* Check missing values
* Look at the target variable (attrition)
* Look at numerical and categorical variables

In [ ]:
df_full_train = df_full_train.reset_index(drop=True)

In [ ]:
df_full_train.isnull().sum()

In [ ]:
df_full_train.yearsincurrentrole

In [ ]:
df_full_train.info()

In [ ]:
# df_full_train.attrition.value_counts(normalize=True) # Heads up for imbalance target value
df_full_train.attrition.value_counts()

In [ ]:
global_mean = df_full_train.attrition.mean() # Global attrition rate is calulated by the mean value on the training dataset
global_mean

Approximately, 17% of the workforce had left as seen in the training data. The proportion can be refered to as Attrition rate. This is case of imbalanced dataset. Which means the positive and negative classes were not equally distribution. It is a good thing but in a desireable condition is to have the ratio lower otherwise, there is no need to attempt to solve the problem using machine learning.

In [ ]:
df.dtypes

In [ ]:
numerical_columns = list(df_full_train.dtypes[df.dtypes == 'int64'].index)
numerical_columns

In [ ]:
categorical_columns = list(df_full_train.dtypes[df.dtypes == 'object'].index)
categorical_columns

In [ ]:
df_full_train[categorical_columns].nunique() # Observe all types that exists for each categorical variable

In [ ]:
df_full_train.businesstravel.value_counts()

## Feature Importance

In [ ]:
travel_rarely_mean = df_full_train[df_full_train.businesstravel == 'travel_rarely'].attrition.mean()
print('businesstravel == travel_rarely:', round(travel_rarely_mean, 3))

travel_frequently_mean = df_full_train[df_full_train.businesstravel == 'travel_frequently'].attrition.mean()
print('businesstravel == travel_frequently:', round(travel_frequently_mean, 3))


non_travel_mean = df_full_train[df_full_train.businesstravel == 'non-travel'].attrition.mean()
print('businesstravel == non-travel:', round(non_travel_mean, 3))

In [ ]:
from IPython.display import display

In [ ]:
for col in categorical_columns:
    df_group = df_full_train.groupby(by=col).attrition.agg(['mean'])
    df_group['diff'] = df_group['mean'] - global_mean
    df_group['risk'] = df_group['mean'] / global_mean
    display(df_group)

In [ ]:
from sklearn.metrics import mutual_info_score

In [ ]:
def calculate_mi(series):
    return mutual_info_score(series, df_full_train.attrition)

df_mi = df_full_train[categorical_columns].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')


display(df_mi.head())
display(df_mi.tail())

In [ ]:
df_full_train[numerical_columns].corrwith(df_full_train.attrition).to_frame('correlation')

In [ ]:
df_full_train.employeecount.nunique()

In [ ]:
df_full_train.employeecount.isnull().dtypes # Boolean value Employee Count

In [ ]:
df_full_train.standardhours.isnull()

In [ ]:
df_full_train.standardhours.isnull().dtypes# Boolean value for standard Hour

In [ ]:
df_train.dtypes

## One-hot encoding

In [ ]:
from sklearn.feature_extraction import DictVectorizer

In [ ]:
df_train.info()

In [ ]:
df_train[categorical_columns]

In [ ]:
num = list(df_train.dtypes[df_train.dtypes == 'int64'].index)
cat = list(df_train.dtypes[df_train.dtypes == 'object'].index)

In [ ]:
num

In [ ]:
dv = DictVectorizer(sparse=False)
train_dict = df_train[cat + num].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

In [ ]:
train_dict[0]

In [ ]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

In [ ]:
X_train = dv.transform(train_dict)
X_train

In [ ]:
X_train.shape

In [ ]:
dv.get_feature_names_out()

## Feature Importance

In [ ]:
attrition_counts = df.attrition.value_counts() # Heads up for imbalance target value
print(attrition_counts)

From the analysis above it seems more people (1233) stay on job than people (236) who leave. Therefore, it is a case of data imbalance for this classification problem. Furthermore, there could be different reasons for these 236 people who have left the company

In [ ]:
df.describe() # Descriptive Statistics: Calculate summary statistics for numeric variables such as age, distancefromhome, and others. 
              # This gives an overview of the dataset.

In [ ]:
# Create a histogram of the 'Attrition' target variable
sns.histplot(data=df, x='attrition', bins=2, kde=False, color='skyblue')

# Add labels and a title to the plot
plt.xlabel('Attrition')
plt.ylabel('Count')
plt.title('Distribution of Attrition')



# Show the plot
plt.show()

## Part 5: Exploratory Data Analysis Summary

<p>      </p>

* The proportion of the retained employees is greater compared to the ones that leave.

## Part 6: Visualize Dataset

<p>      </p><p>      </p>

*

In [ ]:
# Visualize the distribution of age
sns.histplot(df['age'], bins=30, kde=True)
plt.title('Age Distribution')
plt.show()

## Part 6: Visualize Dataset Summary

<p>      </p>

* Age distribution

## Part 7: Training the Models
<p>Scikit-Learn covers a wide of machine learning algorithms ranging from Classification, Regression, Clustering and other      </p>
* Scikit-learn API: Dataset Representation - Muitiple indepedent variables and 
  the Target variable represented as [(X1, X2, X3, X4, ....Xn), (Y)]
* Scikit-learn API: Predicators: Implemented to generate predictions for the unknown test data and also provides a score as a     scalar value for the test input provided. Such value can be used in the future for tunning the ML Models.

In [ ]:
# df['date'] = pd.to_datetime(df.date)
# print(df.dtypes)
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression(solver='liblinear', random_state=42)
model.fit(X_train, y_train)

In [ ]:
val_dict = df_val[cat + num].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [ ]:
model.predict_proba(X_val)

In [ ]:
y_pred = model.predict_proba(X_val)[:, 1]
y_pred

In [ ]:
attrition = y_pred > 0.5

In [ ]:
(y_val == attrition).mean()

## Model Interpretation

In [ ]:
model.intercept_[0]

In [ ]:
dict(zip(dv.get_feature_names_out(), model.coef_[0].round(3)))

## Using the Model

In [ ]:
employee = {'businesstravel': 'travel_rarely',
 'department': 'sales',
 'educationfield': 'life_sciences',
 'gender': 'female',
 'jobrole': 'sales_executive',
 'maritalstatus': 'single',
 'over18': 'y',
 'overtime': 'no',
 'age': 45,
 'dailyrate': 374,
 'distancefromhome': 20,
 'education': 3,
 'employeecount': 1,
 'employeenumber': 2046,
 'environmentsatisfaction': 4,
 'hourlyrate': 50,
 'jobinvolvement': 3,
 'joblevel': 2,
 'jobsatisfaction': 3,
 'monthlyincome': 4850,
 'monthlyrate': 23333,
 'numcompaniesworked': 8,
 'percentsalaryhike': 15,
 'performancerating': 3,
 'relationshipsatisfaction': 3,
 'standardhours': 80,
 'stockoptionlevel': 0,
 'totalworkingyears': 8,
 'trainingtimeslastyear': 3,
 'worklifebalance': 3,
 'yearsatcompany': 5,
 'yearsincurrentrole': 3,
 'yearssincelastpromotion': 0,
 'yearswithcurrmanager': 1,
}

In [ ]:
X_test = dv.transform([employee])
model.predict_proba(X_test)[0, 1]

In [ ]:
print(list(X_test[0]))

## Part 7: Training the Models Summary

<p>      </p>

*

## Part 8: Model Evaluation and Tuning

### Accuracy and dummy model
<p>      </p>

*

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
len(y_val)

In [ ]:
accuracy_score(y_val, y_pred >= 0.5)

In [ ]:
thresholds = np.linspace(0, 1, 11)
thresholds

In [ ]:
thresholds = np.linspace(0, 1, 21)

accuracies = []

for t in thresholds:
    acc = accuracy_score(y_val, y_pred >= t)
    accuracies.append(acc)
    print('%0.2f %0.3f' % (t, acc))

In [ ]:
plt.figure(figsize=(6, 4))

plt.plot(thresholds, accuracies, color='black')

plt.title('Threshold vs Accuracy')
plt.xlabel('Threshold')
plt.ylabel('Accuracy')

plt.xticks(np.linspace(0, 1, 11))

# plt.savefig('04_threshold_accuracy.svg')

plt.show()

## Confusion Table

In [ ]:
true_positive = ((y_pred >= 0.5) & (y_val == 1)).sum()
false_positive = ((y_pred >= 0.5) & (y_val == 0)).sum()
false_negative = ((y_pred < 0.5) & (y_val == 1)).sum()
true_negative = ((y_pred < 0.5) & (y_val == 0)).sum()

In [ ]:
confusion_table = np.array(
     # predict neg    pos
    [[true_negative, false_positive], # actual neg
     [false_negative, true_positive]]) # actual pos

confusion_table

In [ ]:
confusion_table / confusion_table.sum()

## Precision and Recall

In [ ]:
precision = true_positive / (true_positive + false_positive)
recall = true_positive / (true_positive + false_negative)
precision, recall

In [ ]:
confusion_table / confusion_table.sum()

In [ ]:
precision = true_positive / (true_positive + false_positive)
recall = true_positive / (true_positive + false_negative)
precision, recall

## ROC and AUC

TPR and FPR

In [ ]:
scores = []

thresholds = np.linspace(0, 1, 101)

for t in thresholds: #B
    tp = ((y_pred >= t) & (y_val == 1)).sum()
    fp = ((y_pred >= t) & (y_val == 0)).sum()
    fn = ((y_pred < t) & (y_val == 1)).sum()
    tn = ((y_pred < t) & (y_val == 0)).sum()
    scores.append((t, tp, fp, fn, tn))

df_scores = pd.DataFrame(scores)
df_scores.columns = ['threshold', 'tp', 'fp', 'fn', 'tn']

In [ ]:
df_scores[::10]

In [ ]:
df_scores['tpr'] = df_scores.tp / (df_scores.tp + df_scores.fn)
df_scores['fpr'] = df_scores.fp / (df_scores.fp + df_scores.tn)

In [ ]:
df_scores[::10]

In [ ]:
plt.figure(figsize=(6, 4))

plt.plot(df_scores.threshold, df_scores.tpr, color='black', linestyle='solid', label='TPR')
plt.plot(df_scores.threshold, df_scores.fpr, color='black', linestyle='dashed', label='FPR')
plt.legend()

plt.xticks(np.linspace(0, 1, 11))
plt.yticks(np.linspace(0, 1, 11))

plt.xlabel('Thresholds')
plt.title('TPR and FPR')

# plt.savefig('04_fpr_tpr_plot.svg')

plt.show()

## Random baseline

In [ ]:
def tpr_fpr_dataframe(y_val, y_pred):
    scores = []

    thresholds = np.linspace(0, 1, 101)

    for t in thresholds:
        tp = ((y_pred >= t) & (y_val == 1)).sum()
        fp = ((y_pred >= t) & (y_val == 0)).sum()
        fn = ((y_pred < t) & (y_val == 1)).sum()
        tn = ((y_pred < t) & (y_val == 0)).sum()

        scores.append((t, tp, fp, fn, tn))

    df_scores = pd.DataFrame(scores)
    df_scores.columns = ['threshold', 'tp', 'fp', 'fn', 'tn']

    df_scores['tpr'] = df_scores.tp / (df_scores.tp + df_scores.fn)
    df_scores['fpr'] = df_scores.fp / (df_scores.fp + df_scores.tn)

    return df_scores

In [ ]:
np.random.seed(1)
y_rand = np.random.uniform(0, 1, size=len(y_val))
df_rand = tpr_fpr_dataframe(y_val, y_rand)
df_rand[::10]

In [ ]:
plt.figure(figsize=(6, 4))

plt.plot(df_rand.threshold, df_rand.tpr, color='black', linestyle='solid', label='TPR')
plt.plot(df_rand.threshold, df_rand.fpr, color='black', linestyle='dashed', label='FPR')
plt.legend()

plt.xticks(np.linspace(0, 1, 11))
plt.yticks(np.linspace(0, 1, 11))

plt.xlabel('Thresholds')
plt.title('TPR and FPR for the random model')

#plt.savefig('04_fpr_tpr_plot_random.svg')

plt.show()

## Ideal baseline:

In [ ]:
num_neg = (y_val == 0).sum()
num_pos = (y_val == 1).sum()

y_ideal = np.repeat([0, 1], [num_neg, num_pos])
y_pred_ideal = np.linspace(0, 1, num_neg + num_pos)

df_ideal = tpr_fpr_dataframe(y_ideal, y_pred_ideal)
df_ideal[::10]

In [ ]:
plt.figure(figsize=(6, 4))

plt.plot(df_ideal.threshold, df_ideal.tpr, color='black', linestyle='solid', label='TPR')
plt.plot(df_ideal.threshold, df_ideal.fpr, color='black', linestyle='dashed', label='FPR')
plt.legend()

plt.xticks(np.linspace(0, 1, 11))
plt.yticks(np.linspace(0, 1, 11))

plt.vlines(1 - y_val.mean(), -1, 2, linewidth=0.5, linestyle='dashed', color='grey')
plt.ylim(-0.03, 1.03)

plt.xlabel('Thresholds')
plt.title('TPR and FPR for the ideal model')

# plt.savefig('04_fpr_tpr_plot_ideal.svg')

plt.show()

## ROC Curve

In [ ]:
plt.figure(figsize=(5, 5))

plt.plot(df_scores.fpr, df_scores.tpr, color='black', label='Model')
plt.plot(df_rand.fpr, df_rand.tpr, color='black', lw=1,
         linestyle='dashed', alpha=0.5, label='Random')
plt.plot(df_ideal.fpr, df_ideal.tpr, color='black', lw=0.5,
         linestyle='solid', alpha=0.5, label='Ideal')

plt.legend()

plt.xlim([-0.02, 1.02])
plt.ylim([-0.02, 1.02])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')

plt.title('ROC curve')

# plt.savefig('04_roc_curve_with_baselines.svg')

plt.show()

In [ ]:
plt.figure(figsize=(5, 5))

plt.plot(df_scores.fpr, df_scores.tpr, color='black')
plt.plot([0, 1], [0, 1], color='black', lw=0.7, linestyle='dashed', alpha=0.5)

plt.xlim([-0.02, 1.02])
plt.ylim([-0.02, 1.02])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')

plt.title('ROC curve')

# plt.savefig('04_roc_curve.svg')

plt.show()

## Using Scikit-Learn for plotting the ROC curve

In [ ]:
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

In [ ]:
fpr, tpr, thresholds = roc_curve(y_val, y_pred)

In [ ]:
plt.figure(figsize=(5, 5))

plt.plot(fpr, tpr, color='black')
plt.plot([0, 1], [0, 1], color='black', lw=0.7, linestyle='dashed', alpha=0.5)

plt.xlim([-0.02, 1.02])
plt.ylim([-0.02, 1.02])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')

plt.title('ROC curve')

plt.show()

## AUC: Area under the ROC curve

In [ ]:
df_scores_small = tpr_fpr_dataframe(y_val, y_pred_small)

In [ ]:
auc(df_scores.fpr, df_scores.tpr)

In [ ]:
auc(df_scores_small.fpr, df_scores_small.tpr)

## Comparing multiple models with ROC curves

In [ ]:
fpr_large, tpr_large, _ = roc_curve(y_val, y_pred)
#fpr_small, tpr_small, _ = roc_curve(y_val, y_pred_small)

plt.figure(figsize=(5, 5))

plt.plot(fpr_large, tpr_large, color='black', linestyle='solid', label='Large')
#plt.plot(fpr_small, tpr_small, color='black', linestyle='dashed', label='Small')
plt.plot([0, 1], [0, 1], color='black', lw=0.7, linestyle='dashed', alpha=0.5)

plt.xlim([-0.02, 1.02])
plt.ylim([-0.02, 1.02])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')

plt.title('ROC curve')
plt.legend(loc='lower right')

plt.show()

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
roc_auc_score(y_val, y_pred)

In [ ]:
roc_auc_score(y_val, y_pred_small)

Interpretation of AUC: the probability that a randomly chosen positive example
ranks higher than a randomly chosen negative example

In [ ]:
neg = y_pred[y_val == 0]
pos = y_pred[y_val == 1]

np.random.seed(1)
neg_choice = np.random.randint(low=0, high=len(neg), size=10000)
pos_choice = np.random.randint(low=0, high=len(pos), size=10000)
(pos[pos_choice] > neg[neg_choice]).mean()

## K-fold cross-validation

In [ ]:
def train(df_train, y_train, C=1.0):
    dicts = df_train[cat + num].to_dict(orient='records')

    dv = DictVectorizer(sparse=False)
    X_train = dv.fit_transform(dicts)

    model = LogisticRegression(C=C, max_iter=1000)
    model.fit(X_train, y_train)
    
    return dv, model

In [ ]:
dv, model = train(df_train, y_train, C=0.001)

In [ ]:
def predict(df, dv, model):
    dicts = df[cat + num].to_dict(orient='records')

    X = dv.transform(dicts)
    y_pred = model.predict_proba(X)[:, 1]

    return y_pred

In [ ]:
y_pred = predict(df_val, dv, model)

In [ ]:
from sklearn.model_selection import KFold

In [ ]:
!pip install tqdm

In [ ]:
from tqdm.auto import tqdm

In [ ]:
n_splits = 5

for C in tqdm([0.001, 0.01, 0.1, 0.5, 1, 5, 10]):
    kfold = KFold(n_splits=n_splits, shuffle=True, random_state=1)

    scores = []

    for train_idx, val_idx in kfold.split(df_full_train):
        df_train = df_full_train.iloc[train_idx]
        df_val = df_full_train.iloc[val_idx]

        y_train = df_train.attrition.values
        y_val = df_val.attrition.values

        dv, model = train(df_train, y_train, C=C)
        y_pred = predict(df_val, dv, model)

        auc = roc_auc_score(y_val, y_pred)
        scores.append(auc)

    print('C=%s %.3f +- %.3f' % (C, np.mean(scores), np.std(scores)))

In [ ]:
scores

In [ ]:
dv, model = train(df_full_train, df_full_train.churn.values, C=1.0)
y_pred = predict(df_test, dv, model)

auc = roc_auc_score(y_test, y_pred)
auc

In [ ]:
kfold = KFold(n_splits=10, shuffle=True, random_state=42)

In [ ]:
aucs = []

for train_idx, val_idx in kfold.split(df_full_train):
    df_train = df_full_train.iloc[train_idx]
    y_train = df_train.attrition.values

    df_val = df_full_train.iloc[val_idx]
    y_val = df_val.attrition.values

    dv, model = train(df_train, y_train)
    y_pred = predict(df_val, dv, model)

    rocauc = roc_auc_score(y_val, y_pred)
    aucs.append(rocauc)

In [ ]:
np.array(aucs).round(3)

In [ ]:
print('auc = %0.3f ± %0.3f' % (np.mean(aucs), np.std(aucs)))

## Tuning the parameter `C`

## Full Retrain

## Decision Tree

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

In [ ]:
val_dicts = df_val.fillna(0).to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [ ]:
y_pred = dt.predict_proba(X_val)[:, 1]
roc_auc_score(y_val, y_pred)

In [ ]:
y_pred = dt.predict_proba(X_train)[:, 1]
roc_auc_score(y_train, y_pred)

In [ ]:
dt = DecisionTreeClassifier(max_depth=2)
dt.fit(X_train, y_train)

In [ ]:
y_pred = dt.predict_proba(X_train)[:, 1]
auc = roc_auc_score(y_train, y_pred)
print('train:', auc)

y_pred = dt.predict_proba(X_val)[:, 1]
auc = roc_auc_score(y_val, y_pred)
print('val:', auc)

In [ ]:
print(export_text(dt, feature_names=list(dv.get_feature_names_out())))

## Decision trees parameter tuning

* selecting `max_depth`
* selecting `min_samples_leaf`

In [ ]:
depths = [1, 2, 3, 4, 5, 6, 10, 15, 20, None]

for depth in depths: 
    dt = DecisionTreeClassifier(max_depth=depth)
    dt.fit(X_train, y_train)
    
    y_pred = dt.predict_proba(X_val)[:, 1]
    auc = roc_auc_score(y_val, y_pred)
    
    print('%4s -> %.3f' % (depth, auc))

In [ ]:
scores = []

for depth in [4, 5, 6]:
    for s in [1, 5, 10, 15, 20, 500, 100, 200]:
        dt = DecisionTreeClassifier(max_depth=depth, min_samples_leaf=s)
        dt.fit(X_train, y_train)

        y_pred = dt.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_val, y_pred)
        
        scores.append((depth, s, auc))

In [ ]:
columns = ['max_depth', 'min_samples_leaf', 'auc']
df_scores = pd.DataFrame(scores, columns=columns)

In [ ]:
df_scores_pivot = df_scores.pivot(index='min_samples_leaf', columns=['max_depth'], values=['auc'])
df_scores_pivot.round(3)

In [ ]:
sns.heatmap(df_scores_pivot, annot=True, fmt=".3f")

In [ ]:
dt = DecisionTreeClassifier(max_depth=6, min_samples_leaf=15)
dt.fit(X_train, y_train)

In [ ]:
print(export_text(dt, feature_names=list(dv.get_feature_names_out())))

## Ensembles and random forest

* Board of experts
* Ensembling models 
* Random forest - ensembling decision trees
* Tuning random forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
scores = []

for n in range(10, 201, 10):
    rf = RandomForestClassifier(n_estimators=n, random_state=1)
    rf.fit(X_train, y_train)

    y_pred = rf.predict_proba(X_val)[:, 1]
    auc = roc_auc_score(y_val, y_pred)
    
    scores.append((n, auc))

In [ ]:
df_scores = pd.DataFrame(scores, columns=['n_estimators', 'auc'])

In [ ]:
plt.plot(df_scores.n_estimators, df_scores.auc)

In [ ]:
scores = []

for d in [5, 10, 15]:
    for n in range(10, 201, 10):
        rf = RandomForestClassifier(n_estimators=n,
                                    max_depth=d,
                                    random_state=1)
        rf.fit(X_train, y_train)

        y_pred = rf.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_val, y_pred)

        scores.append((d, n, auc))

In [ ]:
columns = ['max_depth', 'n_estimators', 'auc']
df_scores = pd.DataFrame(scores, columns=columns)

In [ ]:
for d in [5, 10, 15]:
    df_subset = df_scores[df_scores.max_depth == d]
    
    plt.plot(df_subset.n_estimators, df_subset.auc,
             label='max_depth=%d' % d)

plt.legend()

In [ ]:
max_depth = 10 # Based on the plots above

In [ ]:
scores = []

for s in [1, 3, 5, 10, 50]:
    for n in range(10, 201, 10):
        rf = RandomForestClassifier(n_estimators=n,
                                    max_depth=max_depth,
                                    min_samples_leaf=s,
                                    random_state=1)
        rf.fit(X_train, y_train)

        y_pred = rf.predict_proba(X_val)[:, 1]
        auc = roc_auc_score(y_val, y_pred)

        scores.append((s, n, auc))

In [ ]:
columns = ['min_samples_leaf', 'n_estimators', 'auc']
df_scores = pd.DataFrame(scores, columns=columns)

In [ ]:
colors = ['black', 'blue', 'orange', 'red', 'grey']
values = [1, 3, 5, 10, 50]

for s, col in zip(values, colors):
    df_subset = df_scores[df_scores.min_samples_leaf == s]
    
    plt.plot(df_subset.n_estimators, df_subset.auc,
             color=col,
             label='min_samples_leaf=%d' % s)

plt.legend()

In [ ]:
min_samples_leaf = 3

In [ ]:
rf = RandomForestClassifier(n_estimators=200,
                            max_depth=max_depth,
                            min_samples_leaf=min_samples_leaf,
                            random_state=1)
rf.fit(X_train, y_train)

## 6.7 Gradient boosting and XGBoost

* Gradient boosting vs random forest
* Installing XGBoost
* Training the first model
* Performance monitoring
* Parsing xgboost's monitoring output

In [ ]:
!pip install xgboost

In [ ]:
import xgboost as xgb

In [ ]:
features = list(dv.get_feature_names_out())
dtrain = xgb.DMatrix(X_train, label=y_train, feature_names=features)
dval = xgb.DMatrix(X_val, label=y_val, feature_names=features)

In [ ]:
xgb_params = {
    'eta': 0.3, 
    'max_depth': 6,
    'min_child_weight': 1,
    
    'objective': 'binary:logistic',
    'nthread': 8,
    
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dtrain, num_boost_round=10)

In [ ]:
y_pred = model.predict(dval)

In [ ]:
roc_auc_score(y_val, y_pred)

In [ ]:
watchlist = [(dtrain, 'train'), (dval, 'val')]

In [ ]:
%%capture output

xgb_params = {
    'eta': 0.3, 
    'max_depth': 6,
    'min_child_weight': 1,
    
    'objective': 'binary:logistic',
    'eval_metric': 'auc',

    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dtrain, num_boost_round=200,
                  verbose_eval=5,
                  evals=watchlist)

In [ ]:
s = output.stdout

In [ ]:
print(s[:200])

In [ ]:
def parse_xgb_output(output):
    results = []

    for line in output.stdout.strip().split('\n'):
        it_line, train_line, val_line = line.split('\t')

        it = int(it_line.strip('[]'))
        train = float(train_line.split(':')[1])
        val = float(val_line.split(':')[1])

        results.append((it, train, val))
    
    columns = ['num_iter', 'train_auc', 'val_auc']
    df_results = pd.DataFrame(results, columns=columns)
    return df_results

In [ ]:
df_score = parse_xgb_output(output)

In [ ]:
plt.plot(df_score.num_iter, df_score.train_auc, label='train')
plt.plot(df_score.num_iter, df_score.val_auc, label='val')
plt.legend()

In [ ]:
plt.plot(df_score.num_iter, df_score.val_auc, label='val')
plt.legend()

## XGBoost parameter tuning

Tuning the following parameters:

* `eta`
* `max_depth`
* `min_child_weight`

In [ ]:
scores = {}

In [ ]:
%%capture output

xgb_params = {
    'eta': 0.01, 
    'max_depth': 6,
    'min_child_weight': 1,
    
    'objective': 'binary:logistic',
    'eval_metric': 'auc',

    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dtrain, num_boost_round=200,
                  verbose_eval=5,
                  evals=watchlist)

In [ ]:
scores = {}

In [ ]:
%%capture output

xgb_params = {
    'eta': 0.1, 
    'max_depth': 10,
    'min_child_weight': 1,
    
    'objective': 'binary:logistic',
    'eval_metric': 'auc',

    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dtrain, num_boost_round=200,
                  verbose_eval=5,
                  evals=watchlist)

In [ ]:
key = 'max_depth=%s' % (xgb_params['max_depth'])
scores[key] = parse_xgb_output(output)
key

In [ ]:
del scores['max_depth=10']

In [ ]:
for max_depth, df_score in scores.items():
    plt.plot(df_score.num_iter, df_score.val_auc, label=max_depth)

plt.ylim(0.8, 0.84)
plt.legend()

In [ ]:
scores = {}

In [ ]:
%%capture output

xgb_params = {
    'eta': 0.1, 
    'max_depth': 3,
    'min_child_weight': 30,
    
    'objective': 'binary:logistic',
    'eval_metric': 'auc',

    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dtrain, num_boost_round=200,
                  verbose_eval=5,
                  evals=watchlist)

In [ ]:
key = 'min_child_weight=%s' % (xgb_params['min_child_weight'])
scores[key] = parse_xgb_output(output)
key

In [ ]:
for min_child_weight, df_score in scores.items():
    plt.plot(df_score.num_iter, df_score.val_auc, label=min_child_weight)

plt.ylim(0.82, 0.84)
plt.legend()

In [ ]:
xgb_params = {
    'eta': 0.1, 
    'max_depth': 3,
    'min_child_weight': 1,

    'objective': 'binary:logistic',
    'eval_metric': 'auc',

    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dtrain, num_boost_round=175)

## Selecting the final model

* Choosing between xgboost, random forest and decision tree
* Training the final model
* Saving the model

In [ ]:
dt = DecisionTreeClassifier(max_depth=6, min_samples_leaf=15)
dt.fit(X_train, y_train)

In [ ]:
y_pred = dt.predict_proba(X_val)[:, 1]
roc_auc_score(y_val, y_pred)

In [ ]:
rf = RandomForestClassifier(n_estimators=200,
                            max_depth=10,
                            min_samples_leaf=3,
                            random_state=1)
rf.fit(X_train, y_train)

In [ ]:
xgb_params = {
    'eta': 0.1, 
    'max_depth': 3,
    'min_child_weight': 1,

    'objective': 'binary:logistic',
    'eval_metric': 'auc',

    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dtrain, num_boost_round=175)

In [ ]:
y_pred = model.predict(dval)
roc_auc_score(y_val, y_pred)

In [ ]:
df_full_train = df_full_train.reset_index(drop=True)

In [ ]:
y_full_train = (df_full_train.status == 'default').astype(int).values

In [ ]:
del df_full_train['status']

In [ ]:
dicts_full_train = df_full_train.to_dict(orient='records')

dv = DictVectorizer(sparse=False)
X_full_train = dv.fit_transform(dicts_full_train)

dicts_test = df_test.to_dict(orient='records')
X_test = dv.transform(dicts_test)

In [ ]:
dfulltrain = xgb.DMatrix(X_full_train, label=y_full_train,
                    feature_names=dv.get_feature_names_out())

dtest = xgb.DMatrix(X_test, feature_names=dv.get_feature_names_out())

In [ ]:
xgb_params = {
    'eta': 0.1, 
    'max_depth': 3,
    'min_child_weight': 1,

    'objective': 'binary:logistic',
    'eval_metric': 'auc',

    'nthread': 8,
    'seed': 1,
    'verbosity': 1,
}

model = xgb.train(xgb_params, dfulltrain, num_boost_round=175)

In [ ]:
y_pred = model.predict(dtest)

In [ ]:
roc_auc_score(y_test, y_pred)

## Part 8: Model Evaluation and Tuning Summary

<p>      </p>

*

## Part 9: Model Assessment

<p>      </p>

*

## Feature Extraction, Engineering, and Scaling

<p>      </p>

* Descriptive Statistics Functions - general practice of handling datasets to know importance of any attributes and features in the dataset.

## Part 9: Model Assessment Summary

## Part 10: Save Model

In [ ]:
import pickle

In [ ]:
with open ('hrAttrition-model.bin', 'wb') as f_out:
    pickle.dump((dv,model), f_out)

In [ ]:
## Prediction
pickled_model.predict(scaler.transform(housing.data[0].reshape(1,-1)))